html {
	height: 100%;
}

body {
  padding-top: 70px;
  height: 100%;
}

.slide-image {
	width: 100%;
}

.carousel-holder {
	margin-bottom: 30px;
}

.carousel-control, .item {
	border-radius: 4px;
}

.caption {
	height: 130px;
	overflow: hidden;
}

.caption h4 {
	white-space: nowrap;
}

.thumbnail img {
	width: 100%
}

.ratings {
	padding-right: 10px;
	padding-left: 10px;
	color: #d17581;
}

..thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
	color: #333;
}

footer {
	margin: 0;
}

/*Custom Styling*/
.wrapper {
	min-height: 100%;
	position: relative;
}

.content {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 15px;
	height: 60px;
}

.dataTableImg {
	width: 100px;
	height: 100px;
}

.jumbotron {
	background: #ed5050;
	color: #fff;
}

.panel-heading h4 {
	color: #fff; !important
}

.help-block {
	color: #ff0000;
}
